.bar {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}

.bar .totalCount, .bar .doneCount {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-weight: bold;

    align-items: center;
}

.bar .totalCount>p, .bar .doneCount>p {
    
    font-size: 0.875rem;
}

.bar .totalCount>p {
    color: var(--blue-300);
}

.bar .doneCount>p {
    color: var(--purple-500);
}

.bar span {
    color: var(--gary-200);
    font-size: 0.75rem;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-400);
    border-radius: 999px;
}